.bg-gray-200 {
    background-color: #edf2f7;
}
.bg-blue-500 {
    background-color: #4299e1;
}

.bg-green-500 {
    background-color: #48bb78;
}

.bg-orange-500 {
    background-color: #ed8936;
}
.bg-gray-800 {
    background-color: #2d3748;
}

